@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
    box-sizing: border-box;
}

input,
textarea {
    -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
    -khtml-user-select: text; /* Konqueror HTML */
    -moz-user-select: text; /* Old versions of Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
    user-select: text; /* Non-prefixed version, currently */
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

.sidebar-link {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: block;
    padding: 0.5rem 0;
    padding-left: 2.5rem;
}

.sidebar-link:visited {
    color: #007bc0;
}

.sidebar-link:hover {
    background-color: #007bc0;
    color: white;
}

.sidebar-link--btn {
    background-color: #007bc0;
    color: white;
    padding-left: 0;
}

.sidebar-link--btn:visited {
    color: white;
}

.sidebar-link--btn:hover {
    background-color: #0067a3;
}

.sidebar-link--active,
.sidebar-link--active:visited {
    background-color: #007bc0;
    color: white;
}

.sidebar-link--active:hover {
    background-color: #0067a3;
}

*::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.map-container {
    position: fixed;
    height: 100%;
    width: 100%;
}

.white-button {
    background-color: white;
    color: #282828;
}

.vipps-button {
    background-color: #ff5b24;
    color: white;
}

.file-pond-text {
    color: #007bc0;
    font-weight: 700;
    letter-spacing: 1px;
}
